.boton-comprar{
    font-size: 1.0rem; 
    background-color: wheat;
    border-radius: 1.0rem;
}

.btn-submit {
    width: 100%;
    outline: none;
    background: linear-gradient(to left, #FFC837, #FF8008);
    font-size: 1.0rem;
    border: none;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    font-family: Arial;
}